<h1>All Players</h1>

<div class="right-button">
  <%= link_to new_player_path, class: "button button-success" do %>
    <i class="fa-solid fa-user-plus"></i> Add Player
  <% end %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td>
        <%= link_to player_path(player), method: :delete, data: { confirm: "Are you sure?" }, class: "button button-danger" do %>
          <i class="fa-solid fa-trash"></i> Delete
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
